@import "variables";
@import "skin";

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  color: $color-gray;
  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  letter-spacing: 0.08em;

  color: $color-light;

  font-family: $font-header;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2;

  @media(max-width: 992px){
    font-size: 2.5rem;
  }

  @media(max-width: 768px){
    font-size: 1.875rem;
  }

  @media(max-width: 576px){
    font-size: 1.875rem;
  }
}

h2{
  display: block;
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 2.5rem;
  font-family: $font-header;
  color: $color-primary;
  letter-spacing: 0.1em;
  line-height: 1.2em;

  @media(max-width: 992px){
    font-size: 2rem;
    margin-bottom: 42px;
  }

  @media(max-width: 768px){
    margin-bottom: 36px;
    font-size: 1.5rem;
  }

  @media(max-width: 576px){
    text-align: center;
  }
}

a {
  text-decoration: none;

  color: $color-light;
}


.btn,
.btn-accent {
  display: block;

  height: 60px;
  padding: 18px $gap;

  transition: background-color 0.5s;
  text-align: center;
  letter-spacing: 0.1em;

  font-size: 1.125rem;
}

.btn {
  min-width: 250px;

  border: 2px solid $color-light;
   background-color: rgba(255, 255, 255, 0.1);

   @media(max-width: 992px){
    min-width: 200px;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 1rem;
   }

   @media(max-width: 768px){
    min-width: 170px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
   }

}

.btn-accent {
  min-width: 350px;

  border: 2px solid $color-primary;
  background-color: $color-primary;

  @media(max-width: 576px){
    min-width: 100%;
  }
}

.btn:hover,
.btn-accent:hover {
  background-color: $color-accent;
}
