@import "variables";
@import "skin";
@import "mixins-media";


* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  color: $color-gray;

  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  letter-spacing: 0.08em;

  color: $color-light;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md-sm {
    font-size: 1.875rem;
  }
  @include sm {
    font-size: 1.875rem;
  }
}

h2 {
  display: block;

  margin-top: 0;

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: 56px;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 42px;

    font-size: 2rem;
  }
  @include md {
    margin-bottom: 36px;

    font-size: 1.5rem;
  }
  @include sm {
    text-align: center;
  }
}

a {
  text-decoration: none;

  color: $color-light;
}


.btn,
.btn-accent {
  display: block;

  height: 60px;
  padding: 18px $gap;

  transition: background-color 0.5s;
  text-align: center;
  letter-spacing: 0.1em;

  font-size: 1.125rem;
}

.btn {
  border: 2px solid $color-light;
  background-color: rgba(255, 255, 255, 0.1);

  @include lg-min {
    min-width: 250px;
  }
  @include lg-md {
    min-width: 200px;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 1rem;
  }
  @include md {
    min-width: 170px;
    height: 40px;
    padding-top: $gap / 2;
    padding-bottom: $gap / 2;

    letter-spacing: 0.05em;

    font-size: 1rem;
  }
}

.btn-accent {
  border: 2px solid $color-primary;
  background-color: $color-primary;
}

.btn:hover,
.btn-accent:hover {
  background-color: $color-accent;
}
