

@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-content";
@import "header/header-navbar";


@import "sections/section-skills/skill-item";
@import "sections/section-skills/skills";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";
@import "footer";



/*-----------------------------------------------------*/

/*-------------About----------------*/
h2{
  display: block;
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  color: #2d3651;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}

.about{
  display: block;
  background-color: #e5e5e5;
  letter-spacing: 0.055em;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.about__container{
  display: grid;
  grid-template-areas: "t l i";
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
  max-width: 1340px;
  
}


.about__text{
  position: relative;
  grid-area: t;
  font-size: 1.125em;
}

.about__img{
  display: grid;
  grid-area: i;
  align-content: center;
  justify-items: center;
  
}

.about__img img{
  align-content: center;
  justify-items: center;
  
  
}

/*.about__text p:first-of-type::after{
  content: "";
  height: 200px;
  width: 2px;
  background-color: rgba(99, 117, 136, 0.1);
  position: absolute;
  top: 0;
  left: 986px;
}*/
.about__text p:first-of-type{
  position: relative;
  margin-top: -5px;
}

.about__text p:last-of-type{
  margin: 0px;
}

.about__line{
  position: relative;
  grid-area: l;
  height: auto;
  margin-top: 146px;
  width: 100px;
  
  
}

.about__line span{
  display: block;
  width: 2px;
 
  background-color: rgba(99, 117, 136, 0.1);
  content: "";
  margin-left: calc(49% - 2px);
  height: 200px;

}

.header-navbar__btn-row {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 3px;
  background: #ffffff;
}

@media(max-width: 992px) {
  .skills__container {
    display: grid;

    grid-gap: 10px;
    grid-template-areas: "a1 a1 a2 " "a3 a4 a4 " "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
    grid-template-columns: repeat(3, 1fr);
  }

  h1 {
    font-size: 2.5rem;
  }
  .header-content__title {
    margin: 0 0 43px 0;
  }

  .btn {
    min-width: 200px;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 1rem;
  }

  h2{
    font-size: 2rem;
    margin-bottom: 42px;
  }

  .about{
    padding-top: 80px;
    padding-bottom: 80px;
    
  }
  .about__text{
    font-size: 1rem;
  }
  .about__line{
    width: 45px;
    margin-top: 112px;
  }

}



@media(max-width: 768px) {
  .skills__container {
    display: grid;

    grid-gap: 10px;
    grid-template-areas: "a1 a2 " "a3 a2 " "a4 a4" "a5 a6" "a5 a7" "a8 a9";
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 1.875rem;
  }

  .header-content__title {
    margin: 0 0 33px 0;
  }

  .btn {
    min-width: 170px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
  }

  .about{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .skill-item__title {
    font-size: 1.125rem;
  }

  h2{

    margin-bottom: 36px;
    font-size: 1.5rem;
  }

  .about__text p{
    font-size: 1rem;
  }

  .about__line{
    width: 20px;
    margin-top: 92px;
  }
  .about__img img{
    max-height: 424px;
    min-width: 100%;
    
  }

  .header-navbar__btn {
    position: relative;
    width: 30px;
    height: 23px;
    margin: 20px 0;
    cursor: pointer;
    transform: rotate(0deg);
  }
    
    .header-navbar__list {
    position: absolute;
    top: 100%;
    right: 20px;
    display: none;
    text-align: right;
    background-color: rgba(68, 89, 110, 0.9);
  }

  .header-navbar__link:active{
    display: block;
  }
 
}


@media(max-width: 576px) {
  .skills{
    padding: 20px;
  }
  .skills__container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "a1" "a2 " "a3" "a4" "a5" "a6" "a7" "a8" "a9";
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.875rem;
  }

  .header-content__btns {
    align-items: center;
    flex-direction: column;

    width: 100%;
  }
  .header-content__btns .btn:first-of-type {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .btn-accent{
    min-width: 100%;
  }
  .skills {
   margin-bottom: 0;
  }

  h2{
    text-align: center;
  }

  .about__container{
    grid-template-areas: "t" "i";
  }
  .about__line{
    display: none;
  }
  .about__img img{
    margin-top: 20px;
    max-height: 480px;
    min-width: auto;
  }
}

